<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/changepassword.css">
    <title>Change password</title>
</head>
<body>
    <h2>Change password for <%=user.name%></h2>
    <form method="post" action="/postly/change-password/<%=user.userId%>?_method=PATCH" class="changePassword">
        <br>
        <label>Old Password :</label>
        <input type="password" placeholder="Old" name="oldP" >
        <br>
        <label>New Password :</label>
        <input type="password" placeholder="New" name="newP">
        <br>
        <button class="btn">Save Change</button>
    </form>
</body>
</html>